body{
	background-image: url(../images/bcgrnd1.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
}
ul li{
	display:inline-block;
}
#container1{
	text-align: center;
	background-color: black;
	padding: 1px;
	width: 100%;
}
h1{
	text-align: center;
	margin-top: 400px;
	color: white;
	font-size: 50px;
	font-family: Helvetica;
}
p{
	text-align: center;;
	margin-top: 100px;
	color: white;
	font-family: Helvetica;
}
a{
	color:white;
	font-size: 20px;
	font-family: Helvetica;
}
li{
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}